* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Malgun gothic','Sans-Serif','Arial';
}

a {
	text-decoration: none;
	color:#333;
}
ul li {
	list-style:none;
}

/* 검색영역 */
#search_area{
    float:right;
}
#search_text{
    width:150px;
    height:30px;
    margin-right:55px;
}
#search_btn{
	position: absolute;
	width:50px;
	height:30px;
	right: 0;
	font-size:13px;
}
/* 공통 */
.fl {
	float:left;
}
.tc {
	text-align:center;
}

/* 게시판 목록 */
#board_area {
    margin-top: 50px;
	width: 900px;
	position: relative;
}
.list-table {
	margin-top: 80px;
}
.list-table thead th{
	height:40px;
	border-top:2px solid #09C;
	border-bottom:1px solid #CCC;
	font-weight: bold;
	font-size: 17px;
}
.list-table tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #CCC; height:20px;
	font-size: 14px
}
#bottom_btn{
	position: absolute;
	margin-top:20px;
	right: 0;
}

#write_btn{
	position: absolute;
	width:50px;
	height:30px;
	right: 0;
	font-size:13px;
}

/*페이징 영역*/

#page_area{
    margin-top:30px;
    padding-top:30px;
}
 .pagination{
    display:block;
    text-align:center;
 }
 .pagination > li> a{
    float:none;
 }
ul {
	text-align:center;
}
ul li {
	display:inline;
	vertical-align:middle;
}
ul li a {
	display:-moz-inline-stack;	/*FF2*/
	display:inline-block;
	vertical-align:top;
	padding:4px;
	margin-right:3px;
	width:15px !important;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
	width /**/:26px;	/*IE 5.5*/

}
ul li a.now {
	color:#fff;
	background-color:#09C;
	border:1px solid #09C;
}
ul li a:hover, ul li a:focus {
	color:#fff;
	border:1px solid #09C;
	background-color:#09C;
}

/* 게시판 등록 */

h2{
    padding:50px 0 0 50px;
    text-align:center;
}
li{
    padding:50px 0 50px 30px;
}


#register{
    width:900px;
    font-size:15px;
    padding:50px 0 30px 0;
    font-weight: bold;
}
#register_title{
    width:350px;
    height:40px;
    padding-left:20px;
}
#line{
    padding:30px 0 30px 0;
    border-top:2px solid #09C;
}
#register_area{
    width:900px;
    border: 2px solid #09C;
	margin:30px;
    margin-left :20%;
}
#register_area2{
    width:900px;
    border: 2px solid #09C;
	margin:30px;
    margin-left :20%;
}
#info{
	font-weight: bold;
    font-size: 15px;
    margin-left :20%;
    margin-top : 25px;
}
/*수기 등록 영역*/
#plus_area{
    padding-left: 78%;
}
#delete_btn{
    margin-left:5px;
}
.inputname{
    width : 70px;
}
.inputid{
    width : 100px;
}
.inputrn{
    width : 110px;
}
.inputadd{
    width : 120px;
}
.inputpn{
    width : 120px;
}

.container{
  width: 900px;
  margin: 0 auto;
}

ul.tabs{
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  padding: 10px 15px;
  cursor: pointer;
  float: left;
  display:block;
 }

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}
.tab-content.current{
  display: inherit;
}

.tabs > .active:after{opacity:1;visibility:visible}

#upload_btn{
    padding:1.5px 5px 1.5px 5px;
    margin-left :20%;
    margin-top:30px;
    font-size:13px;
}
#img_upload_btn{
    padding:1.5px 5px 1.5px 5px;
    margin-top:30px;
    font-size:13px;
}
#btn_area{
    position: absolute;
    padding-left: 73%;
}
#register_btn{
    padding:1.5px 5px 1.5px 5px;
    margin-top:30px;
    font-size:13px;
    font-weight: bold;
}
#cancel_btn{
    padding:1.5px 5px 1.5px 5px;
    font-size:13px;
    font-weight: bold;
}
img{
    width:150px;
    height:150px;
}

/* 탭 메뉴 영역 */

dl {
  position: relative;
  width: 300px;
  height: 100px;
}
dt {
  height: 30px;
  float: left;
  width: 150px;
  z-index: 9;
  position: relative;
  text-align: center;
  background: #ddd;
}
dd {
  position: absolute;
  padding-top: 30px;
  background-color: #f3f3f3;
  width: 300px;
  height: 100px;
  margin: 0;
}
dd.hidden {
   display: none;
}


.tabs-head{display:flex;border-bottom:1px solid #ebeced;margin-bottom:30px;font-size:13px; width:900px;}
.tabs-head > *:not(:last-child){margin-right:7px}
.tabs-head > *{padding:8px 15px;border:1px solid #ebeced;border-bottom:0;border-radius:4px 4px 0 0;position:relative;color:inherit;cursor:default}
.tabs-head > *:after{content:'';display:block;width:100%;height:2px;background-color:#fafafc;position:absolute;left:0;bottom:-1px;visibility:hidden;opacity:0}
.tabs-head > .active:after{opacity:1;visibility:visible}
.tabs-content{position:relative}
.tabs-content .b-tab{display:none;width:100%}
.tabs-content .b-tab.active{display:block}

