* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Malgun gothic','Sans-Serif','Arial';
}
a {
	text-decoration: none;
	color:#333;
}
ul li {
	list-style:none;
}


#bbs_title {
    font-family:"맑은 고딕";
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}
/* 공통 */
.fl {
	float:left;
}
.tc {
	text-align:center;
}

/* 게시판 목록 */
#board_area {
    margin-top: 40px;
	width: 900px;
	position: relative;
}
.list-table {
	margin-top: 40px;
}
.list-table thead th{
	height:40px;
	border-top:2px solid #09C;
	border-bottom:1px solid #CCC;
	font-weight: bold;
	font-size: 17px;
}
.list-table tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #CCC; height:20px;
	font-size: 14px
}
#bottom_btn{
	position: absolute;
	margin-top:20px;
	right: 0;
}

#write_btn{
	position: absolute;
	width:50px;
	height:30px;
	right: 0;
	font-size:13px;
}