* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Malgun gothic','Sans-Serif','Arial';
}
a {
	text-decoration: none;
	color:#333;
}
ul li {
	list-style:none;
}

/* 검색영역 */
#search_area{
    float:right;
}
#search_text{
    width:150px;
    height:30px;
    margin-right:55px;
}
#search_btn{
	position: absolute;
	width:50px;
	height:30px;
	right: 0;
	font-size:13px;
}
/* 공통 */
.fl {
	float:left;
}
.tc {
	text-align:center;
}

/* 게시판 목록 */
#board_area {
    margin-top: 50px;
	width: 900px;
	position: relative;
}
.list-table {
	margin-top: 80px;
}
.list-table thead th{
	height:40px;
	border-top:2px solid #09C;
	border-bottom:1px solid #CCC;
	font-weight: bold;
	font-size: 17px;
}
.list-table tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #CCC; height:20px;
	font-size: 14px
}
#bottom_btn{
	position: absolute;
	margin-top:20px;
	right: 0;
}

#write_btn{
	position: absolute;
	width:50px;
	height:30px;
	right: 0;
	font-size:13px;
}

/*페이징 영역*/

#page_area{
    margin-top:30px;
    padding-top:30px;
}
 .pagination{
    display:block;
    text-align:center;
 }
 .pagination > li> a{
    float:none;
 }
ul {
	text-align:center;
}
ul li {
	display:inline;
	vertical-align:middle;
}
ul li a {
	display:-moz-inline-stack;	/*FF2*/
	display:inline-block;
	vertical-align:top;
	padding:4px;
	margin-right:3px;
	width:15px !important;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
	width /**/:26px;	/*IE 5.5*/

}
ul li a.now {
	color:#fff;
	background-color:#09C;
	border:1px solid #09C;
}
ul li a:hover, ul li a:focus {
	color:#fff;
	border:1px solid #09C;
	background-color:#09C;
}

/* 게시판 등록 */

h2{
    padding:50px 0 0 50px;
    text-align:center;
}
li{
    padding:50px 0 50px 30px;
}
#upload_btn{
    padding:5px 5px 5px 5px;
    margin-left :20%;
    margin-top:30px;
    font-size: 17px;

}
#hand_btn{
    padding:5px 5px 5px 5px;
    margin-left :20%;
    margin-top:30px;
    font-size: 17px;
}
#register{
    width:900px;
    font-size:17px;
    padding:50px 0 30px 0;
    font-weight: bold;
}
#register_title{
    width:350px;
    height:40px;
    padding-left:20px;
}
#line{
    padding:30px 0 30px 0;
    border-top:2px solid #09C;
}
#register_area{
    width:900px;
    border: 2px solid #09C;
	margin:30px;
    margin-left :20%;
}
#register_area2{
    width:1130px;
    border: 2px solid #09C;
	margin:30px;
    margin-left :10%;
}
#info{
    font-size: 17px;
     margin-left :20%;
}
#img_upload_btn{
    margin:30px 0 0 30px;
    font-size: 17px;
}
#btn_area{
  margin-left :75%;
}
#register_btn{
    margin-top:50px;
    font-size: 25px;

}
#save_btn{
    font-size: 25px;
}

img{
    width: 150px;
    height: 150px;
}


/* 탭 메뉴 영역 */

dl {
  position: relative;
  width: 300px;
  height: 100px;
}
dt {
  height: 30px;
  float: left;
  width: 150px;
  z-index: 9;
  position: relative;
  text-align: center;
  background: #ddd;
}
dd {
  position: absolute;
  padding-top: 30px;
  background-color: #f3f3f3;
  width: 300px;
  height: 100px;
  margin: 0;
}
dd.hidden {
   display: none;
}