{% load static%}

<DOCTYPE HTML5>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <title>학생증사전등록시스템 게시판</title>
</head>
{% for message in messages %}
{% if message %}<script language="javascript">alert('{{ message }}')</script>{% endif %}
{% endfor %}
<body>
<body>
<div id="board_area">
  <h2>학생증 사전 등록 게시판</h2>
    <form action="/board" method="GET">
        <div id ="search_area">
            <input type="text" id="search_text" name="search" required="required" />
            <button id="search_btn" type="submit">검색</button>
        </div>
    </form>
    <table class="list-table">
      <thead>
          <tr>
                <th width="70">번호</th>
                <th width="500">제목</th>
                <th width="120">글쓴이</th>
                <th width="100">작성일</th>
                <th width="100">조회수</th>
            </tr>
        </thead>
      <tbody>
	  <!-- 게시판 목록 1개 페이지에 총 10개 리스트 노출-->
      {% for item in boards %}
        <tr>
          <td width="70">{{ item.id}}</td>
          <td width="500"><a href="/board_view?board_id={{ item.id }}">{{ item.title}}</a></td>
          <td width="120">{{ item.school_name}}</td>
          <td width="100">{{ item.modified_date|date:'Y. m. d' }}</td>
          <td width="100">{{ item.hit_count}}</td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
    <a href="/board_write"><button id="write_btn">글쓰기</button></a>
  </div>
    <!--페이지-->
    <div id="page_area">
       <ul class="pagination">
            {% if boards.has_previous %}
                <a class="abutton" href="?page={{ board_list.previous_page_number }}">&lt</a>
            {% endif %}
           {% for page in boards.paginator.page_range %}
                {% if page >= boards.number|add:-2 and page <= boards.number|add:2 %}
                <li class="{% if page == boards.number %}current{% endif %}">
                    <a href="?search={{ search }}&page={{ page }}">{{ page}}</a>
                </li>
                {% elif page >= boards.number|add:-3 and page <= boards.number|add:3 %}
                    ..
                {% endif %}
            {% endfor %}
           {% if boards.has_next %}
                <li><a class="abutton" href="?page={{ board_list.next_page_number }}"> ></a></li>
            {% endif %}
           <!--<li><a class="page-link" href="#">&lt</a></li>
           <li><a class="page-link" href="#">1</a></li>
           <li><a class="page-link" href="#">2</a></li>
           <li><a class="page-link" href="#">3</a></li>
           <li class="page-item"><a class="page-link" href="#"> &gt;</a></li>-->
       </ul>
    </div>
</body>
</html>