{% load static%}

<DOCTYPE HTML5 xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <title>학생증사전등록시스템 게시판</title>
</head>

<body>
<h2>학생 정보 등록</h2>
    <div id ="register">제목 :
        <input type="text" id="register_title"/>
    </div>

    <p id ="info">- 학생 필수 정보<br/>
    <form action="" method="post" id="frmxls" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" id="board_id" name="board_id" value="{{ board_id }}">
        <button id="upload_btn" type="submit">excel 업로드</button>
        <input type="file" name="excelfile" id="excelfile">
    </form>
    <br/>
<!--    <button id="hand_btn">수기버튼</button>-->
   <div id="register_area">
       * excel 업로드 시 유의사항<br/>
       - 첫번째 행(번호, 이름, 주민등록번호, 휴대폰번호) 순으로 정할것<br/>
       - 반별 다른 시트에 각각 저장되어있을것<br/>
       - 각각의 sheet 이름은 1반, 2반, 3반으로 정할 것 <br/>
       (행과 sheet이름 오류시 업로드 실패될 수 있음.)
    </div>
<!--탭메뉴 만들기-->


<div class="tabs-head">
  <span data-tab="tab-1" class="tabs-nav">1 반</span>
  <span data-tab="tab-2" class="tabs-nav">2 반</span>
  <span data-tab="tab-3" class="tabs-nav">3 반</span>
  <span data-tab="tab-4" class="tabs-nav">4 반</span>
</div>

<div class="tabs-content">
  <div id="tab-1" class="b-tab active">
    <div id="plus_area">
        <input type="button" value=" + " id="plus_btn">
    </div>
    <div id="register_area2">
        {% for item in students %}
        <input type="button" id="delete_btn" value=" - ">
        <label for="inputname">이름 : </label>
            <input type="text" id="inputname{{ item.id }}" class="inputname" value="{{ item.student_name }}">

            <label for="inputid">학번 : </label>
            <input type="text" id="inputid{{ item.id }}" class="inputid" value="{{ item.student_ID }}">

            <label for="inputrn">주민번호 : </label>
            <input type="text" id="inputrn{{ item.id }}" class="inputrn" value="{{ item.student_rn }}">

            <label for="inputadd">주소 : </label>
            <input type="text" id="inputadd{{ item.id }}" class="inputadd" value="{{ item.detail_address }}">

            <label for="inputpn">핸드폰번호 : </label>
            <input type="text" id="inputpn{{ item.id }}" class="inputpn" value="{{ item.student_phone }}"></br>
       {% endfor %}
        <input type="button" id="delete_btn" value=" - ">
        <label for="inputname">이름 : </label>
            <input type="text" id="inputname" class="inputname">

            <label for="inputid">학번 : </label>
            <input type="text" id="inputid" class="inputid" >

            <label for="inputrn">주민번호 : </label>
            <input type="text" id="inputrn" class="inputrn">

            <label for="inputadd">주소 : </label>
            <input type="text" id="inputadd" class="inputadd">

            <label for="inputpn">핸드폰번호 : </label>
            <input type="text" id="inputpn" class="inputpn"></br>
    </div>

  </div>
  <div id="tab-2" class="b-tab">

    <!-- 여기에 두 번째 탭의 콘텐츠를 작성! -->

  </div>
  <div id="tab-3" class="b-tab">

    <!-- 여기에 세 번째 탭의 콘텐츠를 작성! -->

  </div>

  <div id="tab-4" class="b-tab">

    <!-- 여기에 네 번째 탭의 콘텐츠를 작성! -->

  </div>
</div>

<script>/*<![CDATA[*/ // Source: codepen.io/wangel13/pen/OXBrRp
function Tabs() { var bindAll = function() { var menuElements = document.querySelectorAll('[data-tab]'); for(var i = 0; i < menuElements.length ; i++) { menuElements[i].addEventListener('click', change, false); } }; var clear = function() {var menuElements = document.querySelectorAll('[data-tab]'); for(var i = 0; i < menuElements.length ; i++) { menuElements[i].classList.remove('active'); var id = menuElements[i].getAttribute('data-tab'); document.getElementById(id).classList.remove('active'); } }; var change = function(e) { clear(); e.target.classList.add('active'); var id = e.currentTarget.getAttribute('data-tab'); document.getElementById(id).classList.add('active'); }; bindAll(); } var connectTabs = new Tabs();
/*]]>*/</script>


    <p id ="info">- 학생 사진 등록(파일의 형식은 jpg, png)<br/>
        <button id="img_upload_btn">이미지 업로드</button>
        <input type="file" name="ufile" id="ufile">
    </p>

    <div id="btn_area">
        <button id="save_btn">저장</button>
        <button id="register_btn">등록</button>
        <button id="cancel_btn">취소</button>
    </div>

    <form action="/board_insert" id="frm">
        <input type="hidden" id="title" name="title">
        <input type="hidden" id="school_name" name="school_name">
    </form>

    <script type="text/javascript">
        var reg = document.getElementById('register_btn');
        reg.addEventListener('click', function(){
            document.getElementById('title').value = document.getElementById('register_title').value;
            console.log(document.getElementById('title').value);
            document.getElementById('frm').submit();
        })
    </script>
</body>
</html>