{% load static%}

<DOCTYPE HTML5>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <title>학생증사전등록시스템 게시판</title>
</head>
{%response.setHeader("Access-Control-Allow-Origin","*"); %}
{% if conf_yn %}
<script language="javascript">
    function confirmFinal() {
        var res = confirm("이미지 정보 누락되었습니다. 최종완료 하시겠습니까?");
        if (res) {
            return true;
        } else {
            return false;
        }
    }
</script>
{% else %}
<script language="javascript">
    function confirmFinal() {
        return true;
    }
</script>
{% endif %}
<body>
<p>임시 학생증 템플릿</p>

<div style="overflow:auto;">
</div>

<!--<table border="1" width ="500" height="300" align = "center" >-->
<div style="padding:50px;">
    <table border="1" align = "center" >
    {% for item in students %}
    <tr>
        <th height="45" colspan="3">학  생  증</th>
    </tr>
    <tr>
        {% if item.student_img %}
        <td rowspan="3"><img src="/srv/idcard/static/board/image/{{ item.student_img}}" alt=""></td>  <th width="60">이  름</th> <td>{{ item.student_name }}  </td>
        {% else %}
        <td rowspan="3"><img src="/srv/idcard/static/board/image/default.png" alt=""></td>  <th width="60">이  름</th> <td>{{ item.student_name }} </td>
        {% endif %}
    </tr>
    <tr>
        <th width="70">학번</th><td>{{ item.student_ID }}</td>
    </tr>

    <tr>
        <th width="70">주민번호</th><td>{{ item.student_rn}}</td>
    </tr>
    <tr>
        <td colspan="3"><center>위 학생은 본교 학생임을 증명합니다.</center></td>
    </tr>
    <tr>
        <th colspan="3">{{ school.school_name }}</th>
    </tr>
    <tr>
        <th colspan="3">{{ school.school_address }}</th>
    </tr>
    <tr>
        <th colspan="3">{{ school.school_tel }}</th>
    </tr>
    {% endfor %}
</table>

</div>
<!--<a href="/page/board/write.php"><button id="write_btn">글쓰기</button></a>-->
<div style="position: relative;">
<div id = "div_btn" style="position: absolute; right: 0px; bottom: 0px;">
    {% if not final_yn %}
        {% if not admin_yn %}
        <a onclick="return confirmFinal()" href="/board_final?board_id={{ board_id }}"><button id="final_btn">최종완료</button></a>
        {% endif %}
    {% endif %}
    <a href="/board"><button id ="confirm_btn">확인</button></a>
    {% if final_yn %}
        <button id ="save_btn" onclick="print()">출력</button>
    {% endif %}
    {% if not final_yn %}
        <a href="/board_edit?board_id={{ board_id }}"><button id="edit_btn">수정</button></a>
    {% endif %}
</div>
</div>


</body>
</html>