<!DOCTYPE html>
<html>
<head>
        <p style="text-align:center;">초기 비밀번호 변경</p>
</head>
{% for message in messages %}
{% if message %}<script language="javascript">alert('{{ message }}')</script>{% endif %}
{% endfor %}
<form method="POST" action="/pw_edit" novalidate>
    {% csrf_token %}
    <div id = "pw_edit_area">
        <br>
        <br>
        <label name="label_old_password" for="{{ password_change_form.old_password.id_for_label }}">
          {{ password_change_form.old_password.label }}</label>
        {{ password_change_form.old_password }}
        <script type="text/javascript">
            if (document.getElementsByName('old_password')[0].value != '') {
                document.getElementsByName('label_old_password')[0].setAttribute('class', 'active');
            }
        </script>
    </div>
    <div>
        <label name="label_new_password1" for="{{ password_change_form.new_password1.id_for_label }}">
          {{ password_change_form.new_password1.label }}</label>
        {{ password_change_form.new_password1 }}
        <script type="text/javascript">
            if (document.getElementsByName('new_password1')[0].value != '') {
                document.getElementsByName('label_new_password1')[0].setAttribute('class', 'active');
            }
        </script>
    </div>
    <div>
        <label name="label_new_password2" for="{{ password_change_form.new_password2.id_for_label }}">
          {{ password_change_form.new_password2.label }}</label>
        {{ password_change_form.new_password2 }}
        <script type="text/javascript">
            if (document.getElementsByName('new_password2')[0].value != '') {
                document.getElementsByName('label_new_password2')[0].setAttribute('class', 'active');
            }
        </script>
        </div>
        <small>
            <br>
            최소 8개의 숫자와 문자를 입력해주세요.
            <br>
        </small>

        <br>

    <button type="submit">비밀번호 변경</button> <button onclick="self.close();">확인</button>

        </div>

    </div>



</form>

</html>